<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zrh.mapper.TeacherCourseMapper">

    <resultMap id="BaseResultMap" type="com.zrh.entity.TeacherCourse">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="teacherId" column="teacher_id" jdbcType="VARCHAR"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="profession" column="profession" jdbcType="VARCHAR"/>
        <result property="grade" column="grade" jdbcType="VARCHAR"/>
        <result property="term" column="term" jdbcType="TINYINT"/>
        <result property="version" column="version" jdbcType="INTEGER"/>
        <result property="isDel" column="is_del" jdbcType="INTEGER"/>
        <result property="courseId" column="course_id" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="BaseUserMap" type="com.zrh.entity.TeacherCourse">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="teacher_id" property="teacherId" jdbcType="VARCHAR"/>
        <result column="course_id" property="courseId" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="profession" property="profession" jdbcType="VARCHAR"/>
        <result column="grade" property="grade" jdbcType="VARCHAR"/>
        <result column="term" property="term" jdbcType="INTEGER"/>
        <result column="number" property="number" jdbcType="INTEGER"/>
        <result column="real_name" property="realName" jdbcType="INTEGER"/>
        <result column="credits" property="credits" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="start" property="start" jdbcType="INTEGER"/>
        <result column="end" property="end" jdbcType="INTEGER"/>
        <result column="room" property="room" jdbcType="VARCHAR"/>
        <result property="isDel" column="is_del" jdbcType="INTEGER"/>
        <result property="version" column="version" jdbcType="INTEGER"/>
    </resultMap>


    <sql id="Base_Column_List">
        id
        ,teacher_id,username,
        name,profession,grade,
        term,course_id
    </sql>
    <select id="getCourseInfo" resultMap="BaseUserMap">
        SELECT
        a.*,
        b.number,
        b.credits,
        b.type,
        c.real_name,
        d.start,
        d.end,
        d.room
        FROM teacher_course a
        left join course b
        on a.course_id = b.id and b.is_del = 0
        left join teacher c
        on a.teacher_id = c.id and c.is_del = 0
        left join course_info d
        on b.id = d.course_id and d.is_del = 0
        where a.is_del = 0
        <if test="teacherCourseInfoParam.profession != null and teacherCourseInfoParam.profession != ''">
            AND a.profession = #{teacherCourseInfoParam.profession}
        </if>
        <if test="teacherCourseInfoParam.grade != null and teacherCourseInfoParam.grade != ''">
            AND a.grade = #{teacherCourseInfoParam.grade}
        </if>
        <if test="teacherCourseInfoParam.courseName != null and teacherCourseInfoParam.courseName != ''">
            AND a.name = #{teacherCourseInfoParam.courseName}
        </if>
        <if test="teacherCourseInfoParam.teacherId != null and teacherCourseInfoParam.teacherId != ''">
            AND a.teacher_id = #{teacherCourseInfoParam.teacherId}
        </if>
    </select>
</mapper>
